<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" href="#page-top"><img src="../assets/images/logo.png" class="logo_kw_ouisend" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="back_kw_ground" style="">
    <div class="container px-4 text-center">
        <div id="csw-orchestra-tab">
            <div class="kw_rechercheContainer kw_-wkContainer">
                <div class="kw_-fieldsContainer">
                    <div class="kw_-mainFieldsContainer">
                        <div class="kw_-destinationContainer">
                            <div class="kw__-select-container"> <label for="select-r2uqf">Destination</label>
                                <div class="kw_-select-responsive light custom-select-responsive">
                                    <span class="icon icon-arrow_down icon--filled"></span>
                                    <div class="kw_-custom-select ">
                                        <select class="form-select" aria-label="Default select example">
                                          <option selected>Paris</option>
                                          <option value="QXB" class="optionGroup-select-item">Aix en provence (gare sncf) (fr)</option>
                                          <option value="ANE" class="optionGroup-select-item">Angers (fr)</option>
                                          <option value="QXG" class="optionGroup-select-item">Angers (gare sncf) (fr)</option>
                                          <option value="AVN" class="optionGroup-select-item">Avignon (fr)</option>
                                          <option value="XZN" class="optionGroup-select-item">Avignon (gare sncf) (fr)</option>
                                          <option value="BSL" class="optionGroup-select-item">Bâle (ch)</option>
                                          <option value="EAP" class="optionGroup-select-item">Bâle/mulhouse (ch)</option>
                                          <option value="BCN" class="optionGroup-select-item">Barcelone (es)</option>
                                          <option value="BVA" class="optionGroup-select-item">Beauvais (aéroport de beauvais-tillé) (fr)</option>
                                          <option value="BIQ" class="optionGroup-select-item">Biarritz (fr)</option>
                                          <option value="EGC" class="optionGroup-select-item">Bergerac (fr)</option>
                                          <option value="BOD" class="optionGroup-select-item">Bordeaux (fr)</option>
                                          <option value="ZFQ" class="optionGroup-select-item">Bordeaux (gare sncf) (fr)</option>
                                          <option value="BES" class="optionGroup-select-item">Brest (fr)</option>
                                          <option value="BVE" class="optionGroup-select-item">Brive la gaillarde (fr)</option>
                                          <option value="BRU" class="optionGroup-select-item">Bruxelles (be)</option>
                                          <option value="CFR" class="optionGroup-select-item">Caen (fr)</option>
                                          <option value="XCR" class="optionGroup-select-item">Châlons-en-champagne (fr)</option>
                                          <option value="CRL" class="optionGroup-select-item">Charleroi (aéroport Gosselies)</option>
                                          <option value="CHR" class="optionGroup-select-item">Chateauroux (fr)</option>
                                          <option value="CER" class="optionGroup-select-item">Cherbourg (fr)</option>
                                          <option value="CFE" class="optionGroup-select-item">Clermont ferrand (fr)</option>
                                          <option value="DOL" class="optionGroup-select-item">Deauville (fr)</option>
                                          <option value="DLE" class="optionGroup-select-item">Dole (fr)</option>
                                          <option value="EPL" class="optionGroup-select-item">Epinal (fr)</option>
                                          <option value="GVA" class="optionGroup-select-item">Genève (ch)</option>
                                          <option value="LRH" class="optionGroup-select-item">La rochelle (fr)</option>
                                          <option value="LME" class="optionGroup-select-item">Le mans (fr)</option>
                                          <option value="LIL" class="optionGroup-select-item">Lille (fr)</option>
                                          <option value="XDB" class="optionGroup-select-item">Lille (gare sncf) (fr)</option>
                                          <option value="LIG" class="optionGroup-select-item">Limoges (fr)</option>
                                          <option value="LRT" class="optionGroup-select-item">Lorient (fr)</option>
                                          <option value="LUX" class="optionGroup-select-item">Luxembourg (lu)</option>
                                          <option value="LYS" class="optionGroup-select-item">Lyon (fr)</option>
                                          <option value="XYD" class="optionGroup-select-item">Lyon part dieu (gare sncf) (fr)</option>
                                          <option value="MRS" class="optionGroup-select-item">Marseille (fr)</option>
                                          <option value="XRF" class="optionGroup-select-item">Marseille saint-charles (gare sncf) (fr)</option>
                                          <option value="ETZ" class="optionGroup-select-item">Metz / nancy (fr)</option>
                                          <option value="MPL" class="optionGroup-select-item">Montpellier (fr)</option>
                                          <option value="MLH" class="optionGroup-select-item">Mulhouse (fr)</option>
                                          <option value="NTE" class="optionGroup-select-item">Nantes (fr)</option>
                                          <option value="QJZ" class="optionGroup-select-item">Nantes (gare sncf) (fr)</option>
                                          <option value="NCE" class="optionGroup-select-item">Nice (fr)</option>
                                          <option value="FNI" class="optionGroup-select-item">Nimes (fr)</option>
                                          <option value="PAR" class="optionGroup-select-item">Paris (fr)</option>
                                          <option value="PUF" class="optionGroup-select-item">Pau (fr)</option>
                                          <option value="PGF" class="optionGroup-select-item">Perpignan (fr)</option>
                                          <option value="PIS" class="optionGroup-select-item">Poitiers (fr)</option>
                                          <option value="UIP" class="optionGroup-select-item">Quimper (gare sncf) (fr)</option>
                                          <option value="RHE" class="optionGroup-select-item">Reims (fr)</option>
                                          <option value="XIZ" class="optionGroup-select-item">Reims (gare de Champagne-Ardenne tgv)</option>
                                          <option value="RNS" class="optionGroup-select-item">Rennes (fr)</option>
                                          <option value="ZFJ" class="optionGroup-select-item">Rennes (gare sncf) (fr)</option>
                                          <option value="RDZ" class="optionGroup-select-item">Rodez (fr)</option>
                                          <option value="URO" class="optionGroup-select-item">Rouen (fr)</option>
                                          <option value="SXB" class="optionGroup-select-item">Strasbourg (fr)</option>
                                          <option value="XWG" class="optionGroup-select-item">Strasbourg (gare sncf) (fr)</option>
                                          <option value="TLS" class="optionGroup-select-item">Toulouse (fr)</option>
                                          <option value="TUF" class="optionGroup-select-item">Tours (fr)</option>
                                          <option value="VAF" class="optionGroup-select-item">Valence (fr)</option>
                                          <option value="ZRH" class="optionGroup-select-item">Zurich (ch)</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kw_-originContainer">
                            <div class="kw__-select-container"> <label for="select-n1vs0">Départ</label>
                                <div class="kw_-select-responsive light custom-select-responsive">
                                    <span class="icon icon-arrow_down icon--filled"></span>
                                    <div class="kw_-custom-select ">
                                        <select class="form-select" aria-label="Default select example">
                                        <option selected>Abidjan</option>
                                        <option value="QXB" class="optionGroup-select-item">Aix en provence (gare sncf) (fr)</option>
                                        <option value="ANE" class="optionGroup-select-item">Angers (fr)</option>
                                        <option value="QXG" class="optionGroup-select-item">Angers (gare sncf) (fr)</option>
                                        <option value="AVN" class="optionGroup-select-item">Avignon (fr)</option>
                                        <option value="XZN" class="optionGroup-select-item">Avignon (gare sncf) (fr)</option>
                                        <option value="BSL" class="optionGroup-select-item">Bâle (ch)</option>
                                        <option value="EAP" class="optionGroup-select-item">Bâle/mulhouse (ch)</option>
                                        <option value="BCN" class="optionGroup-select-item">Barcelone (es)</option>
                                        <option value="BVA" class="optionGroup-select-item">Beauvais (aéroport de beauvais-tillé) (fr)</option>
                                        <option value="BIQ" class="optionGroup-select-item">Biarritz (fr)</option>
                                        <option value="EGC" class="optionGroup-select-item">Bergerac (fr)</option>
                                        <option value="BOD" class="optionGroup-select-item">Bordeaux (fr)</option>
                                        <option value="ZFQ" class="optionGroup-select-item">Bordeaux (gare sncf) (fr)</option>
                                        <option value="BES" class="optionGroup-select-item">Brest (fr)</option>
                                        <option value="BVE" class="optionGroup-select-item">Brive la gaillarde (fr)</option>
                                        <option value="BRU" class="optionGroup-select-item">Bruxelles (be)</option>
                                        <option value="CFR" class="optionGroup-select-item">Caen (fr)</option>
                                        <option value="XCR" class="optionGroup-select-item">Châlons-en-champagne (fr)</option>
                                        <option value="CRL" class="optionGroup-select-item">Charleroi (aéroport Gosselies)</option>
                                        <option value="CHR" class="optionGroup-select-item">Chateauroux (fr)</option>
                                        <option value="CER" class="optionGroup-select-item">Cherbourg (fr)</option>
                                        <option value="CFE" class="optionGroup-select-item">Clermont ferrand (fr)</option>
                                        <option value="DOL" class="optionGroup-select-item">Deauville (fr)</option>
                                        <option value="DLE" class="optionGroup-select-item">Dole (fr)</option>
                                        <option value="EPL" class="optionGroup-select-item">Epinal (fr)</option>
                                        <option value="GVA" class="optionGroup-select-item">Genève (ch)</option>
                                        <option value="LRH" class="optionGroup-select-item">La rochelle (fr)</option>
                                        <option value="LME" class="optionGroup-select-item">Le mans (fr)</option>
                                        <option value="LIL" class="optionGroup-select-item">Lille (fr)</option>
                                        <option value="XDB" class="optionGroup-select-item">Lille (gare sncf) (fr)</option>
                                        <option value="LIG" class="optionGroup-select-item">Limoges (fr)</option>
                                        <option value="LRT" class="optionGroup-select-item">Lorient (fr)</option>
                                        <option value="LUX" class="optionGroup-select-item">Luxembourg (lu)</option>
                                        <option value="LYS" class="optionGroup-select-item">Lyon (fr)</option>
                                        <option value="XYD" class="optionGroup-select-item">Lyon part dieu (gare sncf) (fr)</option>
                                        <option value="MRS" class="optionGroup-select-item">Marseille (fr)</option>
                                        <option value="XRF" class="optionGroup-select-item">Marseille saint-charles (gare sncf) (fr)</option>
                                        <option value="ETZ" class="optionGroup-select-item">Metz / nancy (fr)</option>
                                        <option value="MPL" class="optionGroup-select-item">Montpellier (fr)</option>
                                        <option value="MLH" class="optionGroup-select-item">Mulhouse (fr)</option>
                                        <option value="NTE" class="optionGroup-select-item">Nantes (fr)</option>
                                        <option value="QJZ" class="optionGroup-select-item">Nantes (gare sncf) (fr)</option>
                                        <option value="NCE" class="optionGroup-select-item">Nice (fr)</option>
                                        <option value="FNI" class="optionGroup-select-item">Nimes (fr)</option>
                                        <option value="PAR" class="optionGroup-select-item">Paris (fr)</option>
                                        <option value="PUF" class="optionGroup-select-item">Pau (fr)</option>
                                        <option value="PGF" class="optionGroup-select-item">Perpignan (fr)</option>
                                        <option value="PIS" class="optionGroup-select-item">Poitiers (fr)</option>
                                        <option value="UIP" class="optionGroup-select-item">Quimper (gare sncf) (fr)</option>
                                        <option value="RHE" class="optionGroup-select-item">Reims (fr)</option>
                                        <option value="XIZ" class="optionGroup-select-item">Reims (gare de Champagne-Ardenne tgv)</option>
                                        <option value="RNS" class="optionGroup-select-item">Rennes (fr)</option>
                                        <option value="ZFJ" class="optionGroup-select-item">Rennes (gare sncf) (fr)</option>
                                        <option value="RDZ" class="optionGroup-select-item">Rodez (fr)</option>
                                        <option value="URO" class="optionGroup-select-item">Rouen (fr)</option>
                                        <option value="SXB" class="optionGroup-select-item">Strasbourg (fr)</option>
                                        <option value="XWG" class="optionGroup-select-item">Strasbourg (gare sncf) (fr)</option>
                                        <option value="TLS" class="optionGroup-select-item">Toulouse (fr)</option>
                                        <option value="TUF" class="optionGroup-select-item">Tours (fr)</option>
                                        <option value="VAF" class="optionGroup-select-item">Valence (fr)</option>
                                        <option value="ZRH" class="optionGroup-select-item">Zurich (ch)</option>
                                  </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kw_-dateContainer">
                            <div class="kw_-calendar oneWayType">
                                <div class="calendarBoxContainer outboundCalendarContainer">
                                    <div class="calendarLabel">Date de départ</div>
                                    <div class="calendarBox kw_-select-responsive kw_-tooltip-responsive" data-type="outbound" data-test="kw_-cal-outbound">
                                        <span class="icon icon-calendar icon--filled"></span>
                                        <span class="kw_-form-responsive--no-right-icon"></span>
                                        <div class="calendarBoxText kw_-responsive-form-field kw_-tooltip-responsive__text">Peu m'importe</div>
                                    </div>
                                    <div class="timeBox" data-type="outbound"></div>
                                </div>
                            </div>
                        </div>
                        <div class="kw_-submitwkContainer">
                            <div class="kw_-submitContainer">
                                <div class="btn btn-cta btn-block kw_-submitButton" tabindex="-1">Rechercher</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="divi_seur"></div>
<div class="container maiin" role="main">
    <div class="row main_kw">
        <div class="col-sm-4">
            <div class="card-learning">
                <header class="card__header">
                    <a href="#">Expedition</a>
                </header>
                <ul class="card__list">

                    <li class="card-learning__item">
                        <a href="#">
                            <time>23 juin 2021</time><br> Ouisend en Afrique
                        </a>
                    </li>
                    <li class="card-learning__item">
                        <a href="#">
                            <time>28 juin 2021</time><br>Ouisend en Europe
                        </a>
                    </li>
                    <li class="card-learning__item">
                        <a href="#">
                            <time>01 juil 2021</time><br>Ouisend en Asie
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-learning">
                <header class="card__header">
                    <a href="https://formation.ccmbenchmark.com">Livraison</a>
                </header>
                <ul class="card__list">

                    <li><img src="../assets/images/liv.jpg" class="liv" /></li>

                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="container kw_____">
                    <div class="kw_-_-banner-container">
                        <div class="kw_-_-banner">
                            <div class="kw_-_-banner__image"><span class="kw_-_-banner__left-image"><img class="kw_-_-banner__image-logo" src="../assets/images/ppkw.jpg"></span></div>
                            <div class="kw_-_-banner__content">
                                <div class="kw_-_-banner__content-title">Avec OUISEND <span class="highlight">Gagne de l'argent</span> !</div>
                                <div class="kw_-_-banner__content-body"><span class="kw_-_-banner__content-body-text" data-test="kw_-_-banner-text">Vous avez la possibilité de faire livrer vos colis de particuliers à particuliers et de gagner de l’argent en voyageant grâce à l’espace disponible dans vos bagages.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row kw_rooo">
                        <!-- <div class="col-2"></div> -->
                        <div class="col-12 kw__card">
                            <div class="row bg heakw">
                                <div class="col-12 kwww">
                                    <p class="kw_tle"> AIR FRANCE</p>
                                </div>
                            </div>
                            <div class="row ahi">
                                <div class="col-4 kw_w6_1 ">
                                    <p class="p_kww">02 Avril 2021, 11h00 GMT</p>
                                </div>
                                <div class="col-1 kw_hr">
                                    <i class="far fa-circle"></i>
                                    <!-- <hr class="kw_hr"> -->

                                </div>
                                <div class="col-5  kw_w6_2 ">
                                    <p class="p_kww">Paris <br>Aéroport Charles de Gaulle
                                    </p>
                                </div>
                                <div class="col-2 kw_hr">
                                    <p class="kw_prix">50,25 €</p>
                                </div>
                            </div>
                            <div class="row bb">
                                <div class="col-4 kw_w6_1 ">
                                    <p class="ok">02 Avril 2021, 22h00 GMT</p>
                                </div>
                                <div class="col-1 kw_hr">
                                    <i class="far fa-circle kw_ci"></i>
                                    <hr class="kw_hr">
                                </div>
                                <div class="col-5  kw_w6_2 ">
                                    <p class="ok">Abidjan<br> Aéroport Charles de Gaulle
                                    </p>
                                </div>
                                <div class="col-2 kw_hr">
                                    <!-- <p class="kw_prix">250 €</p> -->
                                </div>
                                <div class="row kw_p">
                                    <div class="col-4 kw_4">
                                        <p class="kw_b"><a class="liv_kw" data-bs-toggle="modal" data-bs-target="#exampleModal2" href=""> Fulgence Kouakou</a></p>
                                    </div>
                                    <div class="col-3 kw_3">
                                        <p class="kw_b">
                                            <i class="fa fa-star jo" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                    <div class="col-3 kw_3">
                                        <p class="kw_b">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                    <div class="col-2 kw_2">
                                        <p class="kw_b">Profil vérifié</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-2"></div>

                  </div> -->

                    </div>
                </div>
            </div>
            <div class="divi_seur"></div>
            <div class="row">
                <div class="container kw_____">

                    <div class="row kw_rooo">
                        <!-- <div class="col-2"></div> -->
                        <div class="col-12 kw__card">
                            <div class="row bg heakw">
                                <div class="col-12 kwww">
                                    <p class="kw_tle"> Air Royal MAROC</p>
                                </div>
                            </div>
                            <div class="row ahi">
                                <div class="col-4 kw_w6_1 ">
                                    <p class="p_kww">02 Avril 2021, 16h00 GMT</p>
                                </div>
                                <div class="col-1 kw_hr">
                                    <i class="far fa-circle"></i>
                                    <!-- <hr class="kw_hr"> -->

                                </div>
                                <div class="col-5  kw_w6_2 ">
                                    <p class="p_kww">Paris <br>Aéroport Charles de Gaulle
                                    </p>
                                </div>
                                <div class="col-2 kw_hr">
                                    <p class="kw_prix">51,25 €</p>
                                </div>
                            </div>
                            <div class="row bb">
                                <div class="col-4 kw_w6_1 ">
                                    <p class="ok">02 Avril 2021, 22h00 GMT</p>
                                </div>
                                <div class="col-1 kw_hr">
                                    <i class="far fa-circle kw_ci"></i>
                                    <hr class="kw_hr">
                                </div>
                                <div class="col-5  kw_w6_2 ">
                                    <p class="ok">Abidjan<br> Aéroport Charles de Gaulle
                                    </p>
                                </div>
                                <div class="col-2 kw_hr">
                                    <!-- <p class="kw_prix">50,25 €</p> -->
                                </div>
                                <div class="row kw_p">
                                    <div class="col-4 kw_4">
                                        <p class="kw_b"><a class="liv_kw" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Edwin Bossard</a></p>
                                    </div>
                                    <div class="col-3 kw_3">
                                        <p class="kw_b">
                                            <i class="fa fa-star jo" aria-hidden="true"></i>
                                            <i class="fa fa-star jo" aria-hidden="true"></i>

                                        </p>
                                    </div>
                                    <div class="col-3 kw_3">
                                    </div>
                                    <div class="col-2 kw_2">
                                        <p class="kw_b">Profil vérifié</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <button type="button" class="btn btn-primary me-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
      User Login
    </button> -->
    <!-- modal 2 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  txt" id="exampleModalLabel2">Expediteur Ouisend</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">

                                <div class="card hovercard">
                                    <div class="cardheader">

                                    </div>
                                    <div class="avatar">
                                        <img alt="" src="http://lorempixel.com/100/100/people/10/">
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a target="_blank" href="#">Fulgence KOUAKOU</a>
                                        </div>
                                        <div class="desc">Expéditeur de colis</div>
                                        <div class="desc">Rapide & Efficace</div>
                                        <!-- <div class="desc">Tech geek</div> -->
                                    </div>
                                    <div class="bottom">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <br>
                                        <div class="desc kw___">Profil vérifié</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div> -->
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  txt" id="exampleModalLabel">Expediteur Ouisend</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">

                                <div class="card hovercard">
                                    <div class="cardheader">

                                    </div>
                                    <div class="avatar">
                                        <img alt="" src="http://lorempixel.com/100/100/people/9/">
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a target="_blank" href="#">Edwin Bossard</a>
                                        </div>
                                        <div class="desc">Expéditeur de colis</div>
                                        <div class="desc">Rapide & Efficace</div>
                                        <!-- <div class="desc">Tech geek</div> -->
                                    </div>
                                    <div class="bottom">
                                        <i class="fa fa-star jo" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <br>
                                        <div class="desc kw___">Profil vérifié</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="divi_seur"></div>
    <!-- </div> -->
</div>


<router-outlet></router-outlet>


<div class="row footer">
    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3">

        <!-- Footer Elements -->
        <!--  -->
        <!-- Footer Elements -->
        <br>
        <br>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 202 Copyright:
            <a href="#"> Ouisend</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>